.diagram {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // max-height: 526px;
    width: 100%;
    margin: 24px auto 1px;

    &__donut {
        display: flex;
        flex: 1;
        width: calc(100% + 32px);
        margin-left: -32px;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;
    }

    svg {
        height: 328px;
        width: 328px;
    }

    &__legend {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        &__separator {
            background-color: #BFBFBF;
            opacity: 0.3;
            min-height: 2px;
            margin: 16px auto;
            width: 100%;
        }

        & > div:nth-of-type(3) > .legend__item__indicator {
            background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);
            box-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
        }

        & > div:nth-of-type(5) > .legend__item__indicator {
            background: radial-gradient(100% 100% at 50% 0%, rgba(151, 151, 151, 0.5) 0%, rgba(41, 41, 41, 0.5) 100%);
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
        }

        & > div:nth-of-type(7) > .legend__item__indicator {
            background: radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%);
            box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
        }
    }
}

.legend__item {
    display: flex;
    align-items: center;

    &__indicator {
        min-width: 16px;
        min-height: 16px;

        background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%);
        box-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
        border-radius: 50%;
        transform: matrix(1, 0, 0, -1, 0, 0);

        margin-right: 10px;
    }

    &__title {
        font-family: 'Roboto Medium';
        font-size: 16px;
        line-height: 18px;
        color: var(--primary-text-color);
    }

    &__values {
        display: flex;
        margin-left: auto;

        color: var(--subhead-text-color);

        font-family: 'Roboto Medium';
        font-size: 16px;
        line-height: 18px;
    }

    &__diff {
        margin-right: 16px;
    }

    &__total {

    }
}